@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Jost:wght@300;400&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Heebo:wght@100;200;300&family=Jost:wght@300;400&family=Rubik:wght@400;500;700&display=swap');

.backgroundimage {
    overflow: hidden;
    position: relative; /* Change to relative to position the content inside */
    background-size: cover;
    height: 88vh;
    border-radius: 0 0 0 142px;
}

.bg-image {
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: url(../../assets/myPaintings/brushCover.jpg);
    background-size: cover;
    height: 88vh;
    animation: zoom 15s alternate infinite;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 0 142px;

    &:before {
        content: '';
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: linear-gradient(to right, rgba(87, 87, 87, 0.557), rgba(0, 0, 0, 0.58));
        border-radius: 0 0 0 142px;
        animation: zoom 15s alternate infinite;
    }
}

.content-for-background-image {
    display: block;
    position: fixed;
    z-index: 1; 
    justify-content: center !important;
    align-items: center !important;
    left: 20%; /* Adjust the left margin as needed */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    width: 567px;
    color: #FFFFFF; 
    padding: auto;
    animation: none;
}

.content-heading {
    font-size: 96px; /* Adjust font size as needed */
    font-family: 'DM Serif Display', serif;
    font-style: 'DM Serif Display';
    font-weight: 300;
    line-height: 96px;
    padding: 0%;
}

.content-subheading {
    font-size: 24px; /* Adjust font size as needed */
    font-family: 'jost', serif;
    line-height: 26px;
    font-style: 'jost';
    font-weight: 300;
    font-variant: normal;
    margin: 20px 0;
}

/* Rest of your CSS remains unchanged */
/* Adjusted keyframes */
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
