@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Jost:wght@300;400&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Heebo:wght@100;200;300&family=Jost:wght@300;400&family=Rubik:wght@400;500;700&display=swap');

.background-card{
    height: 60vh;
    background-color: #F4F0EC;
    border-radius: 32px;
    margin: 5% 13%;
    padding: 5%;
  }
.Heading{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: #292F36;
    font-family: 'DM Serif Display', serif;
}