@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.animated-typing{
  color: #333333;
  font-family: 'Dancing Script', cursive;
  font-size: 84px;
  align-items: center;
  margin-top: 10% ;
  display: flex;
  justify-content: center;
}