@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Jost:wght@300;400&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Heebo:wght@100;200;300&family=Jost:wght@300;400&family=Rubik:wght@400;500;700&display=swap');

.about-div-parent-card-component{
  background-color: #F4F0EC;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  width: 40%;
  padding: 1%;
  border-radius: 16px;
}
.about-div-component{
    background-color: #FFFFFF;
    justify-content: center;
    padding: 5%;
    border-radius: 16px;
}
.about-div-component-text{
    font-size: 24px;
    font-style: italic;
    line-height: 30px;
    text-align: center;
    align-items: center;
    font-family: 'DM Serif Display', serif;
    font-style: 'DM Serif Display';
    font-weight:200;
    color: #333333;
}    
.about-div-component-artist-name{
    font-size: 24px;
    line-height: 26px;
    padding-top: 3%;
    text-align: end;
    font-family: 'jost', serif;
    font-weight: 400;
    color: #333333;
}
.about-card-artist-component{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    margin: 10% 13%;
}
.about-card-artist-message{
   color: #333333;
   width: 70%; 
   padding-right: 5%;
   display: inline-block;
   background-color: #FFFFFF;
   text-align: justify;
}
.about-card-artist-message-heading{
    font-size: 50px;
    line-height: 30px;
    align-items: center;
    font-family: 'DM Serif Display', serif;
    font-style: 'DM Serif Display';
    font-weight: 400;
}
.about-card-artist-message-content{
    font-size: 18px;
    line-height: 24px;
    padding-top: 5%;
    text-align: justify;
    font-family: 'jost', serif;
    align-items: center;
    font-weight: 500;
}

.about-right-card-image-component{
    position: relative;
    overflow: hidden;
    background: url(../../assets/team/artist.jpg);
    background-size: cover;
    height: 500px;
    width: 450px;
    border-radius: 32px;
}

.about-team-introduction-card{
    background-color: #F4F0EC;
    height: 75vh;
}